*csv
*json
*txt
.DS_Store
*__
*.pylintrc
*pt_files/
*results/
*tmp/
*tmp/decoded/
*tmp_decoded/
*tmp_decoded_old/
*tmp_*
*pt
*gan/
*gan_autoencoder/
*test.py
*xml
*csv_in/
*json_in/
*sh
*tiff/
*svg
*svg/
*png
*sample_scripts/